body
{
background-color: black;
opacity: 1;
background-image: url("https://wallpapercave.com/wp/wp6629386.jpg");
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: inline;
}


.back img
{
    width: 4%;
    height: 7%;
    margin-top: -12%;
    padding: 3px;


}
 


.forms
{
    background-color: black;
    opacity:0.5;
    width: 32%;
    height: 28%;
    margin-left: 33%;
    border-radius: 40px;
    padding: 5px;
    margin-top: 3%;
    border-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    
}

.heading
{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
color: white;
text-align: center;
background-color: black;
opacity: 0.8;
width: 23%;
margin-left: 37%;
margin-top: 8% ;
border-radius: 30px;

}

.uname1
{
    margin-top: 2%;
}

.password1
{
    margin-top: 3%; 

}

.uname2
{
width: 45%;
height: 15%;
}

.password2
{
width: 45%;
height: 15%;
}


.button
{
    font-size: 30px;
    background-color: black;
    margin-top: 8%;
    border-radius: 20px;
    color: #ffffff;
     font-family: 'Times New Roman', Times, serif;
     border-color: white;
}
.para
{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-top: 2%;
    cursor: pointer;
    color: black;
}
