body
{
background-color: black;
opacity: 1;
background-image: url("https://i.pinimg.com/originals/22/e3/cf/22e3cfb493b8690b26a591867576289e.jpg");
/*
background-image: url("https://wallpapertag.com/wallpaper/full/4/d/d/614590-india-wallpaper-desktop-1920x1080-for-htc.jpg");
*/width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;


}

.back1 img
{

    width: 3.5%;
    height: 6%;



    


}


.heading
{
    
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
color: white;
text-align: center;
background-color: black;
opacity: 0.8;
width: 23%;
margin-left: 36.5%;
margin-bottom: 10%;
border-radius: 30px;


}

.forms
{
    background-color: black;
    opacity:0.5;
    width: 30%;
    height: 60%;
    margin-left: 32.5%;
    border-radius: 40px;
    padding: 5px;
    margin-top:-8%;
    border-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    
}

.dob
{
    margin-top: 26px;
    
}
.occ
{
    margin-top: 26px;
}
.mobile
{
    margin-top: 26px;
}
.fname
{
    margin-top: 8px;
}
.mail
{
    margin-top: 26px;
}
.dob2
{
    width:45%;
    height: 5.5%;
}

.height
{
    height: 5.5%;
    
}

.SignUp
{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    opacity: 1;
    text-align: center;
    margin-top: 2%;
    margin-left: 41.5%;
    border-radius: 18px;
    border-color: white;
    cursor: pointer;
    width: 13%;
    padding: 3px;
    
}

.SignUp:hover
{
color: black;
background-color:white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-color: black;

}


